<head>
<style>
table, tr, td {
  border: none !important;
}
td, th {
  text-align: center;
  text-size: small;
}
img.cncf-proj {
  min-width: 60px;
  max-width: 60px;
}
td.cncf-sep {
  border-right: 1px solid white !important;
  border-left: 1px solid white !important;
  border-top: 1px solid white !important;
  font-weight: bold;
}
td.cncf-br {
  border-right: 1px solid white !important;
}
td.cncf-bl {
  border-left: 1px solid white !important;
}
td.cncf-bt {
  border-top: 1px solid white !important;
}
td.cncf-bb {
  border-bottom: 1px solid white !important;
}
tr:nth-child(odd) {color: #eec;}
tr:nth-child(even) {color: #ddd;}
tr:first-child {color: #fff;}
tr:nth-child(2) {color: #fff;}
tr:nth-child(3) {color: #fff;}
col:nth-child(even) {background: #282828;}
col:first-child {background: #000;}
col:last-child {background: #000;}

</style>
</head>
<table>
    <colgroup>
    loop:0:start<col>loop:0:end
    testsrv=[[hostname]] <col><col> [[hostname]]=testsrv
    </colgroup>
    <tr>
        <td class="cncf-sep">Metric</td>
        <td colspan="2" class="cncf-sep">Graduated</td>
        testsrv=[[hostname]] <td colspan="18" class="cncf-sep">Incubating</td> [[hostname]]=testsrv
        prodsrv=[[hostname]] <td colspan="17" class="cncf-sep">Incubating</td> [[hostname]]=prodsrv
        <td colspan="11" class="cncf-sep">Sandbox</td>
        testsrv=[[hostname]] <td colspan="1" class="cncf-sep">CNCF</td> [[hostname]]=testsrv
        <td class="cncf-sep">Metric</td>
    </tr>
    <tr>
        <td class="cncf-bl cncf-br"></td>
        <td class="cncf-bl"><a href="https://k8s.[[hostname]]" target="_blank">Kubernetes</a></td>
        <td class="cncf-br"><a href="https://prometheus.[[hostname]]" target="_blank">Prometheus</a></td>
        <td class="cncf-bl"><a href="https://opentracing.[[hostname]]" target="_blank">OpenTracing</a></td>
        <td><a href="https://fluentd.[[hostname]]" target="_blank">Fluentd</a></td>
        <td><a href="https://grpc.[[hostname]]" target="_blank">gRPC</a></td>
        <td><a href="https://containerd.[[hostname]]" target="_blank">containerd</a></td>
        <td><a href="https://rkt.[[hostname]]" target="_blank">rkt</a></td>
        <td><a href="https://cni.[[hostname]]" target="_blank">CNI</a></td>
        <td><a href="https://envoy.[[hostname]]" target="_blank">Envoy</a></td>
        <td><a href="https://jaeger.[[hostname]]" target="_blank">Jaeger</a></td>
        <td><a href="https://notary.[[hostname]]" target="_blank">Notary</a></td>
        <td><a href="https://tuf.[[hostname]]" target="_blank">TUF</a></td>
        <td><a href="https://vitess.[[hostname]]" target="_blank">Vitess</a></td>
        <td><a href="https://coredns.[[hostname]]" target="_blank">CoreDNS</a></td>
        <td><a href="https://nats.[[hostname]]" target="_blank">NATS</a></td>
        <td><a href="https://linkerd.[[hostname]]" target="_blank">Linkerd</a></td>
        <td><a href="https://helm.[[hostname]]" target="_blank">Helm</a></td>
        <td><a href="https://rook.[[hostname]]" target="_blank">Rook</a></td>
        testsrv=[[hostname]] <td><a href="https://harbor.[[hostname]]" target="_blank">Harbor</a></td> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-br"><a href="https://etcd.[[hostname]]" target="_blank">etcd</a></td> [[hostname]]=testsrv
        prodsrv=[[hostname]] <td class="cncf-br"><a href="https://harbor.[[hostname]]" target="_blank">Harbor</a></td> [[hostname]]=prodsrv
        <td class="cncf-bl"><a href="https://opa.[[hostname]]" target="_blank">OPA</a></td>
        <td><a href="https://spiffe.[[hostname]]" target="_blank">SPIFFE</a></td>
        <td><a href="https://spire.[[hostname]]" target="_blank">SPIRE</a></td>
        <td><a href="https://cloudevents.[[hostname]]" target="_blank">CloudEvents</a></td>
        <td><a href="https://telepresence.[[hostname]]" target="_blank">Telepresence</a></td>
        <td><a href="https://openmetrics.[[hostname]]" target="_blank">OpenMetrics</a></td>
        <td><a href="https://tikv.[[hostname]]" target="_blank">TiKV</a></td>
        <td><a href="https://cortex.[[hostname]]" target="_blank">Cortex</a></td>
        <td><a href="https://buildpacks.[[hostname]]" target="_blank">Buildpacks</a></td>
        <td><a href="https://falco.[[hostname]]" target="_blank">Falco</a></td>
        <td class="cncf-br"><a href="https://dragonfly.[[hostname]]" target="_blank">Dragonfly</a></td>
        testsrv=[[hostname]] <td class="cncf-bl cncf-br"><a href="https://cncf.[[hostname]]" target="_blank">CNCF</a></td> [[hostname]]=testsrv
        <td class="cncf-bl cncf-br"></td>
    </tr>
    <tr>
        <td class="cncf-bb cncf-bl cncf-br"></td>
        <td class="cncf-bb cncf-bl"><a href="https://k8s.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/kubernetes-icon-color.svg" alt="Kubernetes" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-br"d><a href="https://prometheus.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/prometheus-icon-color.svg" alt="Prometheus" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-bl"><a href="https://opentracing.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/opentracing-icon-color.svg" alt="OpenTracing" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://fluentd.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/fluentd-icon-color.svg" alt="Fluentd" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://grpc.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/grpc-icon-color.svg" alt="gRPC" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://containerd.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/containerd-icon-color.svg" alt="containerd" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://rkt.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/rkt-icon-color.svg" alt="rkt" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://cni.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/cni-icon-color.svg" alt="CNI" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://envoy.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/envoy-icon-color.svg" alt="Envoy" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://jaeger.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/jaeger-icon-color.svg" alt="Jaeger" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://notary.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/notary-icon-color.svg" alt="Notary" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://tuf.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/tuf-icon-color.svg" alt="TUF" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://vitess.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/vitess-icon-color.svg" alt="Vitess" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://coredns.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/core-dns-icon-color.svg" alt="CoreDNS" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://nats.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/nats-icon-color.svg" alt="NATS" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://linkerd.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/linkerd-icon-color.svg" alt="Linkerd" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://helm.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/helm-icon-color.svg" alt="Helm" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://rook.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/rook-icon-color.svg" alt="Rook" height="80" width="80" /></a></td>
        testsrv=[[hostname]] <td class="cncf-bb"><a href="https://harbor.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/harbor-icon-color.svg" alt="Harbor" height="80" width="80" /></a></td> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-bb cncf-br"><a href="https://etcd.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/etcd-icon-color.svg" alt="etcd" height="80" width="80" /></a></td> [[hostname]]=testsrv
        prodsrv=[[hostname]] <td class="cncf-bb cncf-br"><a href="https://harbor.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/harbor-icon-color.svg" alt="Harbor" height="80" width="80" /></a></td> [[hostname]]=prodsrv
        <td class="cncf-bb cncf-bl"><a href="https://opa.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/opa-icon-color.svg" alt="OPA" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://spiffe.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/spiffe-icon-color.svg" alt="SPIFFE" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://spire.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/spire-icon-color.svg" alt="SPIRE" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://cloudevents.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/cloudevents-icon-color.svg" alt="CloudEvents" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://telepresence.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/telepresence-icon-color.svg" alt="Telepresence" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://openmetrics.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/openmetrics-icon-color.svg" alt="OpenMetrics" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://tikv.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/tikv-icon-color.svg" alt="TiKV" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://cortex.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/cortex-icon-color.svg" alt="Cortex" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://buildpacks.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/buildpacks-icon-color.svg" alt="Buildpacks" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://falco.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/falco-icon-color.svg" alt="Falco" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-br"><a href="https://dragonfly.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/dragonfly-icon-color.svg" alt="Dragonfly" height="80" width="80" /></a></td>
        testsrv=[[hostname]] <td class="cncf-bb cncf-bl cncf-br"><a href="https://cncf.[[hostname]]" target="_blank"><img class="cncf-proj" src="https://[[hostname]]/img/cncf-icon-color.svg" alt="CNCF" height="80" width="80" /></a></td> [[hostname]]=testsrv
        <td class="cncf-bb cncf-bl cncf-br"></td>
    </tr>
    loop:1:start
    <tr>
        <td style="white-space:nowrap;text-align:left;" class="cncf-bb cncf-bl cncf-br">metrics:series:phealthkubernetes:loop:1:i:1</td>
        <td class="cncf-bb cncf-bl">metrics:series:phealthkubernetes:loop:1:i:2</td>
        <td class="cncf-bb cncf-br">metrics:series:phealthprometheus:loop:1:i:2</td>
        <td class="cncf-bb cncf-bl">metrics:series:phealthopentracing:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthfluentd:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthgrpc:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthcontainerd:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthrkt:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthcni:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthenvoy:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthjaeger:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthnotary:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthtuf:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthvitess:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthcoredns:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthnats:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthlinkerd:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthhelm:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthrook:loop:1:i:2</td>
        testsrv=[[hostname]] <td class="cncf-bb">metrics:series:phealthharbor:loop:1:i:2</td> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-bb cncf-br">metrics:series:phealthetcd:loop:1:i:2</td> [[hostname]]=testsrv
        prodsrv=[[hostname]] <td class="cncf-bb cncf-br">metrics:series:phealthharbor:loop:1:i:2</td> [[hostname]]=prodsrv
        <td class="cncf-bb cncf-bl">metrics:series:phealthopa:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthspiffe:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthspire:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthcloudevents:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthtelepresence:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthopenmetrics:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthtikv:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthcortex:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthbuildpacks:loop:1:i:2</td>
        <td class="cncf-bb">metrics:series:phealthfalco:loop:1:i:2</td>
        <td class="cncf-bb cncf-br">metrics:series:phealthdragonfly:loop:1:i:2</td>
        testsrv=[[hostname]] <td class="cncf-bb cncf-bl cncf-br">metrics:series:phealthcncf:loop:1:i:2</td> [[hostname]]=testsrv
        <td style="white-space:nowrap;text-align:left;" class="cncf-bb cncf-bl cncf-br">metrics:series:phealthkubernetes:loop:1:i:1</td>
    </tr>
    loop:1:end
</table>
