<head>
<style>
table, tr, td {
  border: none !important;
}
td, th {
  text-align: center;
}
img.cncf-proj {
  min-width: 80px;
}
td.cncf-sep {
  border-right: 1px solid white !important;
  border-left: 1px solid white !important;
  border-top: 1px solid white !important;
  font-weight: bold;
}
td.cncf-br {
  border-right: 1px solid white !important;
}
td.cncf-bl {
  border-left: 1px solid white !important;
}
td.cncf-bt {
  border-top: 1px solid white !important;
}
td.cncf-bb {
  border-bottom: 1px solid white !important;
}
</style>
</head>
<h2>DevStats projects:</h2>
<table>
    <tr>
        <td colspan="6" class="cncf-sep">Graduated</td>
        <td colspan="4" class="cncf-sep">Incubating</td>
    </tr>
    <tr>
        <td class="cncf-bl"><a href="https://k8s.[[hostname]]" target="_blank">Kubernetes</a></td>
        <td><a href="https://prometheus.[[hostname]]" target="_blank">Prometheus</a></td>
        <td><a href="https://envoy.[[hostname]]" target="_blank">Envoy</a></td>
        <td><a href="https://coredns.[[hostname]]" target="_blank">CoreDNS</a></td>
        <td><a href="https://containerd.[[hostname]]" target="_blank">containerd</a></td>
        <td class="cncf-br"><a href="https://fluentd.[[hostname]]" target="_blank">Fluentd</a></td>
        <td class="cncf-bl"><a href="https://opentracing.[[hostname]]" target="_blank">OpenTracing</a></td>
        <td><a href="https://grpc.[[hostname]]" target="_blank">gRPC</a></td>
        <td><a href="https://rkt.[[hostname]]" target="_blank">rkt</a></td>
        <td class="cncf-br"><a href="https://cni.[[hostname]]" target="_blank">CNI</a></td>
    </tr>
    <tr>
        <td class="cncf-bb cncf-bl"><a href="https://k8s.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/k8s.svg" alt="Kubernetes" height="80" width="80" /></a></td>
        <td class="cncf-bb"d><a href="https://prometheus.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/prometheus.svg" alt="Prometheus" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://envoy.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/envoy.svg" alt="Envoy" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://coredns.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/coredns.svg" alt="CoreDNS" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://containerd.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/containerd.svg" alt="containerd" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-br"><a href="https://fluentd.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/fluentd.svg" alt="Fluentd" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-bl"><a href="https://opentracing.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/opentracing.svg" alt="OpenTracing" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://grpc.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/grpc.svg" alt="gRPC" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://rkt.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/rkt.svg" alt="rkt" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-br"><a href="https://cni.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/cni.svg" alt="CNI" height="80" width="80" /></a></td>
    </tr>
    <tr>
        <td colspan="10" class="cncf-sep">Incubating</td>
    </tr>
    <tr>
        <td class="cncf-bl"><a href="https://jaeger.[[hostname]]" target="_blank">Jaeger</a></td>
        <td><a href="https://notary.[[hostname]]" target="_blank">Notary</a></td>
        <td><a href="https://tuf.[[hostname]]" target="_blank">TUF</a></td>
        <td><a href="https://vitess.[[hostname]]" target="_blank">Vitess</a></td>
        <td><a href="https://nats.[[hostname]]" target="_blank">NATS</a></td>
        <td><a href="https://linkerd.[[hostname]]" target="_blank">Linkerd</a></td>
        <td><a href="https://helm.[[hostname]]" target="_blank">Helm</a></td>
        <td><a href="https://rook.[[hostname]]" target="_blank">Rook</a></td>
        <td><a href="https://harbor.[[hostname]]" target="_blank">Harbor</a></td>
        <td class="cncf-br"><a href="https://etcd.[[hostname]]" target="_blank">etcd</a></td>
    </tr>
    <tr>
        <td class="cncf-bb cncf-bl"><a href="https://jaeger.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/jaeger.svg" alt="Jaeger" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://notary.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/notary.svg" alt="Notary" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://tuf.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/tuf.svg" alt="TUF" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://vitess.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/vitess.svg" alt="Vitess" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://nats.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/nats.svg" alt="NATS" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://linkerd.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/linkerd.svg" alt="Linkerd" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://helm.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/helm.svg" alt="Helm" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://rook.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/rook.svg" alt="Rook" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://harbor.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/harbor.svg" alt="Harbor" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-br"><a href="https://etcd.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/etcd.svg" alt="etcd" height="80" width="80" /></a></td>
    </tr>
    <tr>
        <td colspan="3" class="cncf-sep">Incubating</td>
        <td colspan="7" class="cncf-sep">Sandbox</td>
    </tr>
    <tr>
        <td class="cncf-bl"><a href="https://opa.[[hostname]]" target="_blank">OPA</a></td>
        <td><a href="https://crio.[[hostname]]" target="_blank">CRI-O</a></td>
        <td class="cncf-br"><a href="https://tikv.[[hostname]]" target="_blank">TiKV</a></td>
        <td class="cncf-bl"><a href="https://spiffe.[[hostname]]" target="_blank">SPIFFE</a></td>
        <td><a href="https://spire.[[hostname]]" target="_blank">SPIRE</a></td>
        <td><a href="https://cloudevents.[[hostname]]" target="_blank">CloudEvents</a></td>
        <td><a href="https://telepresence.[[hostname]]" target="_blank">Telepresence</a></td>
        <td><a href="https://openmetrics.[[hostname]]" target="_blank">OpenMetrics</a></td>
        <td><a href="https://cortex.[[hostname]]" target="_blank">Cortex</a></td>
        <td class="cncf-br"><a href="https://buildpacks.[[hostname]]" target="_blank">Buildpacks</a></td>
    </tr>
    <tr>
        <td class="cncf-bb cncf-bl"><a href="https://opa.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/opa.svg" alt="OPA" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://crio.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/crio.svg" alt="CRI-O" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-br"><a href="https://tikv.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/tikv.svg" alt="TiKV" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-bl"><a href="https://spiffe.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/spiffe.svg" alt="SPIFFE" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://spire.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/spire.svg" alt="SPIRE" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://cloudevents.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/cloudevents.svg" alt="CloudEvents" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://telepresence.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/telepresence.svg" alt="Telepresence" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://openmetrics.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/openmetrics.svg" alt="OpenMetrics" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://cortex.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/cortex.svg" alt="Cortex" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-br"><a href="https://buildpacks.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/buildpacks.svg" alt="Buildpacks" height="80" width="80" /></a></td>
    </tr>
    <tr>
        <td colspan="8" class="cncf-sep">Sandbox</td>
        testsrv=[[hostname]] <td colspan="2" class="cncf-sep">CNCF</td> [[hostname]]=testsrv
        prodsrv=[[hostname]] <td colspan="1" class="cncf-sep">CNCF</td> [[hostname]]=prodsrv
    </tr>
    <tr>
        <td class="cncf-bl"><a href="https://falco.[[hostname]]" target="_blank">Falco</a></td>
        <td><a href="https://dragonfly.[[hostname]]" target="_blank">Dragonfly</a></td>
        <td><a href="https://virtualkubelet.[[hostname]]" target="_blank">Virtual Kubelet</a></td>
        <td><a href="https://kubeedge.[[hostname]]" target="_blank">KubeEdge</a></td>
        <td><a href="https://brigade.[[hostname]]" target="_blank">Brigade</a></td>
        <td ><a style="font-size:small;" href="https://networkservicemesh.[[hostname]]" target="_blank">Network Service Mesh</a></td>
        <td><a style="font-size:small;" href="https://openebs.[[hostname]]" target="_blank">OpenEBS</a></td>
        <td class="cncf-br"><a style="font-size:small;" href="https://opentelemetry.[[hostname]]" target="_blank">OpenTelemetry</a></td>
        testsrv=[[hostname]] <td class="cncf-bl"><a href="https://all.[[hostname]]" target="_blank">All CNCF</a></td> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-br"><a href="https://cncf.[[hostname]]" target="_blank">CNCF</a></td> [[hostname]]=testsrv
        prodsrv=[[hostname]] <td class="cncf-bl cncf-br"><a href="https://all.[[hostname]]" target="_blank">All CNCF</a></td> [[hostname]]=prodsrv
    </tr>
    <tr>
        <td class="cncf-bb cncf-bl"><a href="https://falco.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/falco.svg" alt="Falco" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://dragonfly.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/dragonfly.svg" alt="Dragonfly" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://virtualkubelet.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/virtualkubelet.svg" alt="Virtual Kubelet" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://kubeedge.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/kubeedge.svg" alt="KubeEdge" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://brigade.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/brigade.svg" alt="Brigade" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://networkservicemesh.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/networkservicemesh.svg" alt="Network Service Mesh" height="80" width="80" /></a></td>
        <td class="cncf-bb"><a href="https://openebs.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/openebs.svg" alt="OpenEBS" height="80" width="80" /></a></td>
        <td class="cncf-bb cncf-br"><a href="https://opentelemetry.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/opentelemetry.svg" alt="OpenTelemetry" height="80" width="80" /></a></td>
        testsrv=[[hostname]] <td class="cncf-bb cncf-bl"><a href="https://all.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/all.svg" alt="All" height="80" width="80" /></a></td> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-bb cncf-br"><a href="https://cncf.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/cncf.svg" alt="CNCF" height="80" width="80" /></a></td> [[hostname]]=testsrv
        prodsrv=[[hostname]] <td class="cncf-bb cncf-bl cncf-br"><a href="https://all.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/all.svg" alt="All" height="80" width="80" /></a></td> [[hostname]]=prodsrv
    </tr>
    testsrv=[[hostname]] <tr> [[hostname]]=testsrv
        testsrv=[[hostname]] <td colspan="3" class="cncf-sep">Other</td> [[hostname]]=testsrv
    testsrv=[[hostname]] </tr> [[hostname]]=testsrv
    testsrv=[[hostname]] <tr> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-bl"><a href="https://opencontainers.[[hostname]]" target="_blank">OCI</a></td> [[hostname]]=testsrv
        testsrv=[[hostname]] <td><a href="https://istio.[[hostname]]" target="_blank">Istio</a></td> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-br"><a href="https://knative.[[hostname]]" target="_blank">Knative</a></td> [[hostname]]=testsrv
    testsrv=[[hostname]] </tr> [[hostname]]=testsrv
    testsrv=[[hostname]] <tr> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-bb cncf-bl"><a href="https://opencontainers.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/opencontainers.svg" alt="OCI" height="80" width="80" /></a></td> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-bb"><a href="https://istio.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/istio.svg" alt="Istio" height="80" width="80" /></a></td> [[hostname]]=testsrv
        testsrv=[[hostname]] <td class="cncf-bb cncf-br"><a href="https://knative.[[hostname]]" target="_blank"><img class="cncf-proj" src="public/img/projects/knative.svg" alt="Knative" height="80" width="80" /></a></td> [[hostname]]=testsrv
    testsrv=[[hostname]] </tr> [[hostname]]=testsrv
</table>
