jsons/*.json
*.swp
/structure
/gha2db
/db2influx
/gha2db_sync
/runq
/z2influx
/import_affs
/annotations
/idb_tags
/test_annotations.yaml
/test_gaps.yaml
/test_metrics.yaml
k8s_201708.json
errors.txt
run.log
