jsons/*.json
*.swp
/db2influx
/structure
/gha2db
/calc_metric
/gha2db_sync
/runq
/import_affs
/annotations
/tags
/columns
/webhook
/devstats
/get_repos
/merge_dbs
/replacer
/vars
/ghapi2db
/hide_data
/sqlitedb
/FROM
/TO
errors.txt
run.log
out
.DS_Store
temp.sql
/*.csv
/TODO
/MAIL
/wip.sql
sqlite/*.sql
