jsons/*.json
jsons/*.yaml
*.swp
/db2influx
/structure
/gha2db
/gha2es
/calc_metric
/gha2db_sync
/runq
/import_affs
/annotations
/tags
/columns
/webhook
/devstats
/get_repos
/merge_dbs
/replacer
/vars
/ghapi2db
/hide_data
/sqlitedb
/website_data
/sync_issues
/idb_backup
/idb_tags
/idb_tst
/idb_vars
/merge_pdbs
/pdb_vars
/z2influx
/devstats_api_server
/FROM
/TO
errors.txt
run.log
out
.DS_Store
temp.sql
drop.sql
/TODO
/MAIL
/wip.sql
/log
/debug
/node_modules/
sqlite/*.sql
/*.csv
/devstats.tar
/csv/*.csv
/report_6months.txt
/report_alltime.txt
*.secret
/error.yaml
!/contributors_and_emails.csv
!/contributing_actors*.csv
!/k8s_contributors_and_emails.csv
!/top_50_k8s_yearly_contributors.csv
!/k8s_yearly_contributors_with_50.csv
