---
apiVersion: 1
datasources:
  - name: psql
    type: postgres
    access: direct
    orgId: 1
    url: {{url}}
    database: {{PG_DB}}
    user: {{PG_USER}}
    isDefault: true
    editable: true
    jsonData:
      sslmode: disable
      postgresVersion: 1000
      timeInterval: 1h
    secureJsonData:
      password: {{PG_PASS}}
