---
apiVersion: 1
#deleteDatasources:
#  - name: psql
#  orgId: 1
datasources:
  - name: psql
    type: PostgreSQL
    access: direct
    orgId: 1
    url: {{url}}
    password: {{PG_PASS}}
    database: {{PG_DB}}
    user: {{PG_USER}}
    isDefault: 1
    sslmode: disable
    postgresVersion: 1000
    timeInterval: 1h
